body {
    overflow: hidden;
    background-size: cover;
    background: url('../subscribe/background.svg');
    background-color: white;
    background-blend-mode:luminosity;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.bold {
    font-weight: bold;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.starContainer {
    width: 450px;
    margin: 10px auto 0 auto;
    position: relative;
    font-size: 3em;
    font-weight: bold;
}
#stars {
    opacity: 0;
    transform: scale(0.2);
}
#burst {
    opacity: 0;
}
.dollars {
    opacity: 0;
    top: 200px;
    position: absolute;
    width: 100%;
    font-size: 72px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.amount {
    color: rgb(255, 174, 0);
    text-align: left;
    min-width: 300px;
}
.payouts {
    width: 100%;
    height: 50%;
    position: absolute;
    margin: auto;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.payout {
    position: absolute;
    margin: auto;
    text-align: center;
}
.payout > h1 {
    color: lightgreen;
    font-size: 2em;
    font-weight: bold;
}
#reward {
    opacity: 0;
    height: 100%;
    width: 50%;
}
#user-boost {
    opacity: 0;
    height: 100%;
    width: 50%;
    color: #3c763d;
}
#moving-on {
    z-index: 1;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
}

#moving-on > a {
    font-size: 2em;
    color: darkslategray;
    text-transform: uppercase;
}

.payoutImageContainer {
    overflow: hidden;
    background: white;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: auto;
    border: solid 7px lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.payoutImageContainer > img,
.payoutImageContainer > svg {
    width: 80%;
}

.robot-container {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100vw;
}

.robot-container > div {
    width: 400px;
}

@media (max-height: 950px), (max-width: 600px) {

    .payoutImageContainer {
    height: 200px;
    width: 200px;
    }
    .payouts {
    height: 45%;
    }
    .amount {
    min-width: 200px;
    }
    .dollars {
    font-size: 56px;
    top: 150px;
    }
    .starContainer {
    width: 350px;
    margin: 30px auto 0 auto;
    }
}
footer {
    visibility: hidden;
}