body {
    overflow-y: hidden;
    background-size: cover;
    background: url('../subscribe/background.svg');
    background-color: white;
    background-blend-mode:luminosity;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.bold {
    font-weight: bold;
}
.kickoffBtn {
    text-align: center;
    margin: auto;
    position: absolute;
    max-width: 450px;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    transform: translateY(300px);
}
.kickoffBtn h1 {
    font-weight: bold;
    color: darkorange;
}
.kickoffBtn .coinContainer {
    cursor: pointer;
    width: 100px;
    margin: auto;
    opacity: 0;
}
.kickoffBtn .coinContainer button {
    border: none;
    width: 100px;
    height: 100px;
    background: transparent;
}
.kickoffBtn .coinContainer:focus {
    outline: 0;
}
.btn-coin {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: yellow;
    border: solid orange 2px;
    font-weight: bold;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.starContainer {
    width: 450px;
    margin: 10px auto 0 auto;
    position: relative;
    font-size: 3em;
    font-weight: bold;
}
#stars {
    opacity: 0;
    transform: scale(0.2);
}
#burst {
    opacity: 0;
}
.dollars {
    opacity: 0;
    top: 200px;
    position: absolute;
    width: 100%;
    font-size: 72px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.amount {
    color: orange;
    text-align: left;
    min-width: 300px;
}
.payouts {
    width: 100%;
    height: 50%;
    position: absolute;
    margin: auto;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.payout {
    position: absolute;
    margin: auto;
    text-align: center;
}
.payout > h1:nth-child(1) {
    color: white;
    font-weight: bold;
}
.payout > h2 {
    margin: 20px;
    font-weight: bold;
    color: #3c763d;
    cursor: default;
}
#reward {
    opacity: 0;
    height: 100%;
    width: 50%;
}
#user-boost {
    opacity: 0;
    height: 100%;
    width: 50%;
    color: #3c763d;
}
#moving-on {
    z-index: 1;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    transform: translateY(100px);
}

#moving-on > a {
    font-size: 2em;
    color: white;
}

.pulse {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3c763d;
    position: absolute;
    bottom: 100px;
}
.payoutImageContainer {
    overflow: hidden;
    background: white;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: auto;
    border: solid 3px #58A688;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.payoutImageContainer > img,
.payoutImageContainer > svg {
    width: 80%;
}

.robot-container {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100vw;
}

.robot-container > div {
    width: 400px;
}
.grassland {
    background: linear-gradient(#58A688 0%, #89D980 100%);
    height: 350px;
}
@media (max-height: 950px), (max-width: 600px) {
    .grassland {
    height: 250px;
    }
    .payoutImageContainer {
    height: 200px;
    width: 200px;
    }
    .payouts {
    height: 55%;
    }
    .amount {
    min-width: 200px;
    }
    .dollars {
    font-size: 56px;
    top: 150px;
    }
    .starContainer {
    width: 350px;
    margin: 30px auto 0 auto;
    }
    .btn-lg {
    padding: 7px 14px;
    }
}
footer {
    visibility: hidden;
}
.hoodContainer {
    margin: auto;
    min-width: 1000px;
    width: 100%;
    height: 70px;
    background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2273px%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%2358a688%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20viewBox%3D%220%200%201295%2075%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20class%3D%22clas-1%22%20d%3D%22M1604.81%2C574.07V559.75c-2.48%2C1.18-4.79%2C1.88-5.87%2C4.44-.83%2C2-2.35%2C2.28-4.39%2C1.53-1.61-.6-3.43-.58-5.12-1-2-.49-3.89-1.17-6.16-1.87V540.12h-7.82c-.19%2C1-.39%2C2-.65%2C3.27-2.37-.56-5.11.4-6.74-1.88-2.28.34-4.44.78-6.62%2C1-.93.07-1.89-.52-2.85-.61a5.14%2C5.14%2C0%2C0%2C0-2.66.22c-2.78%2C1.43-3.11%2C1.34-3.85-1.64%2C0-.18-.25-.33-.56-.72-.37%2C3-2.85%2C1.63-4.63%2C2.5%2C0%2C2.41%2C0%2C4.91%2C0%2C7.42%2C0%2C1.09-.18%2C1.89-1.54%2C1.88s-1.43-1-1.45-2c0-2.07-.06-4.15-.07-6.22%2C0-3.4.43-3.85%2C3.94-3.76l-2.61-1.64h2.53l.24-.44-5-3.57%2C5.27.85c-1-1.61-1.88-3-2.89-4.69l2.89-.46c0-.12.06-.24.1-.36l-4.76-1.39%2C3.38-3.05a4.6%2C4.6%2C0%2C0%2C1-3.59-6.46l-2.58%2C1.43%2C1.12-2.72-6.33%2C2.65%2C3.13-3.81-2.65.19-11.33-6.74h-.45c-.21.54-.43%2C1.08-.64%2C1.59-1.71-1.52-3.06-.12-4.6.43v-1c-1.69-.14-3.19-.14-3.71%2C1.92-.08.32-.86.46-1.32.68l-4%2C1.89c-2.29-1.47-2.6-1.33-5.35%2C2.84l1.28.87c-1.53%2C1-4.83-.14-4%2C3.54.1%2C0%2C.48.23.84.44%2C1%2C.59.86%2C1.28%2C0%2C2.07-1.33%2C1.27-2.66%2C1.86-4.46%2C1-.45-.22-1.16%2C0-1.75.1-2.63.26-5.29.41-7.89.88a4.25%2C4.25%2C0%2C0%2C0-2.78%2C1.72%2C42.32%2C42.32%2C0%2C0%2C0-2.23%2C6.2%2C15%2C15%2C0%2C0%2C1-.7%2C2.39c.37-3-1.92-4-3.63-5.41-5.67-4.66-11.37-9.28-17.54-14.32a20.4%2C20.4%2C0%2C0%2C1-1.22%2C1.85c-1.34%2C1.61-2.85%2C2.92-5.16%2C2.66-1.1-.12-2.14%2C1.59-3.35.06-.19-.25-1.22-.14-1.62.14-2%2C1.35-3.84%2C2.82-5.75%2C4.24-2.38-1.63-2.64-1.52-5.34%2C2.39l1.36.48c0%2C.19-.07.39-.11.58-2.07-.11-3.76.26-3.81%2C2.53l1.76%2C1.75-6.93%2C7.67c-.42.09%2C1.66%2C1.09-.35.92l1.68%2C1.91-2.07.23c.23.55.44%2C1%2C.74%2C1.76h-6.95c-.18.76-.32%2C1.39-.55%2C2.41-.55-.59-1.16-1-1.29-1.44a10.34%2C10.34%2C0%2C0%2C1-.07-2.43V527.35h-26.3c-.19-.85-.34-1.54-.53-2.36l-2.86-.28v-4.59h-9.15q-.71%2C4.47-1.43%2C9l-2.42.36c0%2C2.11-.07%2C4.24%2C0%2C6.36.07%2C1.32-.44%2C2-1.69%2C2.06-4.15.28-8.25.86-12.43-.36-1.72-.5-3.84.35-5.78.59a18.6%2C18.6%2C0%2C0%2C1-2%2C.26c-2.66%2C0-5.31%2C0-8.16%2C0v9a5.91%2C5.91%2C0%2C0%2C1-1.61.32c-2.66-.24-4.38%2C1.43-6.4%2C2.75-.91.6-2.66.09-4-.15-.69-.12-1.25-1-1.92-1.09s-1.27.53-1.93.79c-1.49.59-3%2C1.16-5%2C1.93v11.16l-.69%2C0c-.06-.66-.17-1.32-.18-2%2C0-2.08-.1-4.16%2C0-6.23.14-2.33.07-4.42-2.81-5.05l-.41%2C1-1.16-1.42a7.67%2C7.67%2C0%2C0%2C0-1%2C2.15c-.15%2C1.39%2C0%2C2.82-.08%2C4.22%2C0%2C.51-.3%2C1.37-.6%2C1.43a3.25%2C3.25%2C0%2C0%2C1-1.75-.45%2C4.63%2C4.63%2C0%2C0%2C1-1.62-1c-1.05-1.2-1.74-.87-2.64.23a2.31%2C2.31%2C0%2C0%2C1-2%2C.75c-.45-.15-.84-1.19-.85-1.85a43.35%2C43.35%2C0%2C0%2C1%2C.28-4.56%2C24.66%2C24.66%2C0%2C0%2C1-2.74%2C0c-2.17-.23-3.13.53-3.18%2C2.79-.06%2C2.58%2C0%2C5.16-.23%2C7.75-.18-1.51-.33-3-.55-4.53%2C0-.25-.33-.47-1-1.39-.77%2C2-1.46%2C3.47-1.85%2C5s-.2%2C1.42-2.1%2C1.18c0-1%2C0-2%2C0-3.07-.08-3.1-.21-6.19-.24-9.29a32.42%2C32.42%2C0%2C0%2C1%2C.26-3.54c.14-1.49%2C1.74-3.13-.66-4.39-.26-.13.12-2-1.05-2.6l-.81-.4c-.61%2C2.88-2.41%2C5.42-1.07%2C8.51.17.4-.31%2C1.07-.43%2C1.62a8.7%2C8.7%2C0%2C0%2C0-.31%2C1.87c0%2C4.14%2C0%2C8.29%2C0%2C12.56-.9.13-1.62.28-2.34.32-1.48.09-2.39-.39-2.27-2.14s0-3.38%2C0-5.18h-4.38c0%2C1.88.08%2C3.72-.06%2C5.54%2C0%2C.51-.72%2C1-1.49%2C1.26a9.42%2C9.42%2C0%2C0%2C0-.46-8.7c-1.1-1.79-3.07-3.72-5-4.15s-4.11%2C1.11-5.94%2C2.83c.83-2.08%2C1.56-4.2%2C2.51-6.21a8.94%2C8.94%2C0%2C0%2C0-2.62-11c-3.83-3-6.64-2.65-9.14%2C1.67a18%2C18%2C0%2C0%2C0-2.46%2C7.78c-.19%2C3.52%2C2%2C5.14%2C6.18%2C5.52v7c-2.53%2C1.33-5.08.93-7.71.19-.59%2C2.51.83%2C5.79-3.11%2C6.09-.25-3.94-.49-7.89-.72-11.63-1.48-.85-2.74-1.53-4-2.28-1.74-1.06-2.92.54-4.35.89a23.73%2C23.73%2C0%2C0%2C0-3%2C1.15c0%2C.62-.07%2C1.49-.11%2C2.35l-.34.06c-.35-1.58-.7-3.16-1.15-5.17-1.13%2C2.85-2.1%2C5.32-3.07%2C7.79l-.56-.1c-.16-.56-.32-1.13-.53-1.85H1240c-.14-.22-.2-.28-.21-.34-.62-4.61-2.38-5.78-7-4.89-1.57.3-3.21.29-5.14.45v9.92a23.37%2C23.37%2C0%2C0%2C0-4.23-.88c-2.52%2C0-4.87.49-5%2C3.68-3.7-.24-3.7-.24-6.69%2C5-.67-1-1.22-1.89-1.76-2.75l-.36.51a10.86%2C10.86%2C0%2C0%2C1-2.34-1.53c-1.27-1.39-4.52-1.93-7.09-.83v-19h-6.88c-.15%2C1-.3%2C2-.49%2C3.23-2.24-.64-4.83.44-5.82-1.72-2.41.3-4.5.61-6.61.82a1.8%2C1.8%2C0%2C0%2C1-1.4-.38c-1-1.24-1.84-.35-2.74%2C0l-2.73%2C1c-.23-1.49-.39-2.46-.54-3.44-.58%2C2.23-2.42%2C2.05-4.35%2C2.24%2C0%2C2-.11%2C4%2C0%2C6a5.3%2C5.3%2C0%2C0%2C1-2%2C4.84c-1.91%2C1.59-3.62%2C3.41-5.42%2C5.14l-.82-.2V549.82l-5.12-1.1c0-.11.07-.22.11-.33a44.86%2C44.86%2C0%2C0%2C1-4.9.36c-.66%2C0-1.26-.83-2-1.06-1.17-.39-2.4-.6-4-1l9.22-1.81c0-.16-.06-.32-.08-.47l-11%2C1.44c.25-4%2C.48-7.74.72-11.56l-3.91.5-.61-2a8%2C8%2C0%2C0%2C0-1-.1c-12.24%2C0-24.48-.06-36.72%2C0a4.39%2C4.39%2C0%2C0%2C1-4.06-2c-1.89-2.64-3.94-5.15-6.05-7.88l-8.34%2C9.44L1081%2C530h1.25c-.17-2.47-.23-5-.54-7.41a18.71%2C18.71%2C0%2C0%2C0-1.18-3%2C13.21%2C13.21%2C0%2C0%2C1-.35-2.27c-.26%2C0-1.69.45-.09-1.22l-1.11.34-6.34-6.31-3.66.51c-.86%2C2.11-2.43%2C3.31-4.18%2C2.73-.21%2C1.18-.38%2C2.34-.63%2C3.47-.06.26-.48.43-.57.7a13.71%2C13.71%2C0%2C0%2C0-.71%2C2.58c-.06.5.49%2C1.16.32%2C1.56-.79%2C1.89-1.79%2C3.68-2.59%2C5.56a6.9%2C6.9%2C0%2C0%2C0-.46%2C2.51c0%2C1.21.19%2C2.42.17%2C3.63a9.25%2C9.25%2C0%2C0%2C0%2C4.82%2C8.66c.79.46%2C2%2C.26%2C3%2C.28a21.61%2C21.61%2C0%2C0%2C0%2C2.29-.19v11.7l-.54.07a15.24%2C15.24%2C0%2C0%2C0-.22-1.92c-.21-.89-.53-1.75-.8-2.63a13.4%2C13.4%2C0%2C0%2C0-.9%2C2.75c-.15%2C1.46.07%2C3-.07%2C4.44a11.78%2C11.78%2C0%2C0%2C1-.85%2C2.53l-.9-.1c0-1.93%2C0-3.86%2C0-5.79a20.77%2C20.77%2C0%2C0%2C0-.26-5.07c-.34-1.27-1.51-2.3-2.41-3.59-1.58%2C1.63-4%2C2.22-3.6%2C5l-1.28-1.81c-.28%2C1.46-.53%2C2.72-.77%2C4l-.65.08c-.42-1.68-1-3.34-1.22-5s-1.79-1.68-2.88-1.74a32%2C32%2C0%2C0%2C0-5.07.49v9.81l-2.3-.62c-.28%2C1.1-.56%2C2.23-.88%2C3.53-.44-.11-.85-.37-1.09-.26-3.59%2C1.71-3.67-1.87-5.17-3.35a1.63%2C1.63%2C0%2C0%2C0-1.42-.27c-.41.16-.66.75-1%2C1.15L1034.9%2C554c-.15.66-.32%2C1.3-.49%2C1.95-.7-1.8-1.42-3.67-2.19-5.68H1020c-.09-1.57-.17-2.81-.26-4.3h-8.12c-.16-1.68-.3-3.11-.42-4.44h-6.92v17.36l-1%2C.34a6.5%2C6.5%2C0%2C0%2C1-1.07-2c-.79-6.33%2C1.13-12.74-1.52-19.13-1.68-4.07-1.6-8.86-2.48-13.29s-2-9-3-13.52c-.61-2.65-1.3-5.29-2-7.93l-1%2C.11a29.94%2C29.94%2C0%2C0%2C1-.05%2C5.19c-.62%2C3.44-1.7%2C6.79-2.29%2C10.23-1.26%2C7.29-2.32%2C14.61-3.5%2C22.19-3-.26-1.72%2C2.28-1.76%2C3.89-.11%2C5.2%2C0%2C5.2-5.09%2C5.54a11%2C11%2C0%2C0%2C0-1.39.3v10.13H971c-.21-1.1-.38-2-.55-2.85H963.7c-.77%2C5.24-.77%2C5.24-4.45%2C4.44-.08-1.23-.17-2.49-.26-3.78l-3.08-.51c-.09-1.06-.17-2-.28-3.2h-7.52V539.78c-1.84%2C0-3.31-.08-4.78%2C0-1.91.12-3.44-.08-4-2.37-.14-.52-1.44-1-2.21-1.06-5.58-.09-11.16-.08-16.73%2C0-.68%2C0-1.77.43-2%2C.94-1.12%2C2.89-2%2C5.86-2.92%2C8.56H886.56c0%2C4.85%2C0%2C9.66%2C0%2C14.46-2%2C.9-3.71%2C1.74-4.6%2C3.86s-2.35%2C2.28-4.39%2C1.53c-1.61-.6-3.43-.58-5.12-1-2-.49-3.89-1.17-6.16-1.87V540.12h-7.82c-.19%2C1-.39%2C2-.65%2C3.27-2.37-.56-5.11.4-6.74-1.88-2.28.34-4.44.78-6.62%2C1-.93.07-1.89-.52-2.85-.61a5.14%2C5.14%2C0%2C0%2C0-2.66.22c-2.78%2C1.43-3.11%2C1.34-3.85-1.64%2C0-.18-.25-.33-.56-.72-.37%2C3-2.85%2C1.63-4.63%2C2.5%2C0%2C2.41%2C0%2C4.91%2C0%2C7.42%2C0%2C1.09-.18%2C1.89-1.54%2C1.88s-1.43-1-1.45-2c0-2.07-.06-4.15-.07-6.22%2C0-3.4.43-3.85%2C3.94-3.76l-2.61-1.64h2.53l.24-.44-5-3.57%2C5.27.85c-1-1.61-1.88-3-2.89-4.69l2.89-.46c0-.12.06-.24.1-.36l-4.76-1.39%2C3.38-3.05a4.6%2C4.6%2C0%2C0%2C1-3.59-6.46l-2.58%2C1.43c.42-1%2C.66-1.61%2C1.12-2.72l-6.33%2C2.65%2C3.13-3.81-2.65.19-11.33-6.74h-.45c-.21.54-.43%2C1.08-.64%2C1.59-1.71-1.52-3.06-.12-4.6.43v-1c-1.69-.14-3.19-.14-3.71%2C1.92-.08.32-.86.46-1.32.68l-4%2C1.89c-2.29-1.47-2.6-1.33-5.35%2C2.84l1.28.87c-1.53%2C1-4.83-.14-4%2C3.54.1%2C0%2C.48.23.84.44%2C1%2C.59.86%2C1.28%2C0%2C2.07-1.33%2C1.27-2.66%2C1.86-4.46%2C1-.45-.22-1.16%2C0-1.75.1-2.63.26-5.29.41-7.89.88a4.25%2C4.25%2C0%2C0%2C0-2.78%2C1.72%2C42.32%2C42.32%2C0%2C0%2C0-2.23%2C6.2%2C15%2C15%2C0%2C0%2C1-.7%2C2.39c.37-3-1.92-4-3.63-5.41-5.67-4.66-11.37-9.28-17.54-14.32a20.4%2C20.4%2C0%2C0%2C1-1.22%2C1.85c-1.34%2C1.61-2.85%2C2.92-5.16%2C2.66-1.1-.12-2.14%2C1.59-3.35.06-.19-.25-1.22-.14-1.62.14-2%2C1.35-3.84%2C2.82-5.75%2C4.24-2.38-1.63-2.64-1.52-5.34%2C2.39l1.36.48c0%2C.19-.07.39-.11.58-2.07-.11-3.76.26-3.81%2C2.53l1.76%2C1.75-6.93%2C7.67c-.42.09%2C1.66%2C1.09-.35.92l1.68%2C1.91-2.07.23c.23.55.44%2C1%2C.74%2C1.76h-7c-.18.76-.32%2C1.39-.55%2C2.41-.55-.59-1.16-1-1.29-1.44a10.34%2C10.34%2C0%2C0%2C1-.07-2.43V527.35h-26.3c-.19-.85-.34-1.54-.53-2.36l-2.86-.28v-4.59h-9.15q-.7%2C4.47-1.43%2C9l-2.42.36c0%2C2.11-.07%2C4.24%2C0%2C6.36.07%2C1.32-.44%2C2-1.69%2C2.06-4.15.28-8.25.86-12.43-.36-1.72-.5-3.84.35-5.78.59a18.6%2C18.6%2C0%2C0%2C1-2%2C.26c-2.66%2C0-5.31%2C0-8.16%2C0v9a5.91%2C5.91%2C0%2C0%2C1-1.61.32c-2.66-.24-4.38%2C1.43-6.4%2C2.75-.91.6-2.66.09-4-.15-.69-.12-1.25-1-1.92-1.09s-1.27.53-1.93.79c-1.49.59-3%2C1.16-5%2C1.93v11.16l-.69%2C0c-.06-.66-.17-1.32-.18-2%2C0-2.08-.1-4.16%2C0-6.23.14-2.33.07-4.42-2.81-5.05l-.41%2C1L607%2C549.48a7.67%2C7.67%2C0%2C0%2C0-1%2C2.15c-.15%2C1.39%2C0%2C2.82-.08%2C4.22%2C0%2C.51-.3%2C1.37-.6%2C1.43a3.25%2C3.25%2C0%2C0%2C1-1.75-.45%2C4.63%2C4.63%2C0%2C0%2C1-1.62-1c-1-1.2-1.74-.87-2.64.23a2.31%2C2.31%2C0%2C0%2C1-2%2C.75c-.45-.15-.84-1.19-.85-1.85a43.35%2C43.35%2C0%2C0%2C1%2C.28-4.56%2C24.66%2C24.66%2C0%2C0%2C1-2.74%2C0c-2.17-.23-3.13.53-3.18%2C2.79-.06%2C2.58%2C0%2C5.16-.23%2C7.75-.18-1.51-.33-3-.55-4.53%2C0-.25-.33-.47-1-1.39-.77%2C2-1.46%2C3.47-1.85%2C5s-.2%2C1.42-2.1%2C1.18c0-1%2C0-2%2C0-3.07-.08-3.1-.21-6.19-.24-9.29a32.42%2C32.42%2C0%2C0%2C1%2C.26-3.54c.14-1.49%2C1.74-3.13-.66-4.39-.26-.13.12-2-1-2.6l-.81-.4c-.61%2C2.88-2.41%2C5.42-1.07%2C8.51.17.4-.31%2C1.07-.43%2C1.62a8.7%2C8.7%2C0%2C0%2C0-.31%2C1.87c0%2C4.14%2C0%2C8.29%2C0%2C12.56-.9.13-1.62.28-2.34.32-1.48.09-2.39-.39-2.27-2.14s0-3.38%2C0-5.18h-4.38c0%2C1.88.08%2C3.72-.06%2C5.54%2C0%2C.51-.72%2C1-1.49%2C1.26a9.42%2C9.42%2C0%2C0%2C0-.46-8.7c-1.1-1.79-3.07-3.72-5-4.15s-4.11%2C1.11-5.94%2C2.83c.83-2.08%2C1.56-4.2%2C2.51-6.21a8.94%2C8.94%2C0%2C0%2C0-2.62-11c-3.83-3-6.64-2.65-9.14%2C1.67a18%2C18%2C0%2C0%2C0-2.46%2C7.78c-.19%2C3.52%2C2%2C5.14%2C6.18%2C5.52v7c-2.53%2C1.33-5.08.93-7.71.19-.59%2C2.51.83%2C5.79-3.11%2C6.09-.25-3.94-.49-7.89-.72-11.63-1.48-.85-2.74-1.53-4-2.28-1.74-1.06-2.92.54-4.35.89a23.73%2C23.73%2C0%2C0%2C0-3%2C1.15c0%2C.62-.07%2C1.49-.11%2C2.35l-.34.06c-.35-1.58-.7-3.16-1.15-5.17-1.13%2C2.85-2.1%2C5.32-3.07%2C7.79l-.56-.1c-.16-.56-.32-1.13-.53-1.85H523c-.14-.22-.2-.28-.21-.34-.62-4.61-2.38-5.78-7-4.89-1.57.3-3.21.29-5.14.45v9.92a23.37%2C23.37%2C0%2C0%2C0-4.23-.88c-2.52%2C0-4.87.49-5%2C3.68-3.7-.24-3.7-.24-6.69%2C5-.67-1-1.22-1.89-1.76-2.75l-.36.51a10.86%2C10.86%2C0%2C0%2C1-2.34-1.53c-1.27-1.39-4.52-1.93-7.09-.83v-19h-6.88c-.15%2C1-.3%2C2-.49%2C3.23-2.24-.64-4.83.44-5.82-1.72-2.41.3-4.5.61-6.61.82a1.8%2C1.8%2C0%2C0%2C1-1.4-.38c-1-1.24-1.84-.35-2.74%2C0l-2.73%2C1c-.23-1.49-.39-2.46-.54-3.44-.58%2C2.23-2.42%2C2.05-4.35%2C2.24%2C0%2C2-.11%2C4%2C0%2C6a5.3%2C5.3%2C0%2C0%2C1-2%2C4.84c-1.91%2C1.59-3.62%2C3.41-5.42%2C5.14l-.82-.2V549.82l-5.12-1.1c0-.11.07-.22.11-.33a44.86%2C44.86%2C0%2C0%2C1-4.9.36c-.66%2C0-1.26-.83-2-1.06-1.17-.39-2.4-.6-4-1l9.22-1.81c0-.16-.06-.32-.08-.47l-11%2C1.44c.25-4%2C.48-7.74.72-11.56l-3.91.5-.61-2a8%2C8%2C0%2C0%2C0-1-.1c-12.24%2C0-24.48-.06-36.72%2C0a4.39%2C4.39%2C0%2C0%2C1-4.06-2c-1.89-2.64-3.94-5.15-6.05-7.88l-8.34%2C9.44L364%2C530h1.25c-.17-2.47-.23-5-.54-7.41a18.71%2C18.71%2C0%2C0%2C0-1.18-3%2C13.21%2C13.21%2C0%2C0%2C1-.35-2.27c-.26%2C0-1.69.45-.09-1.22l-1.11.34-6.34-6.31-3.66.51c-.86%2C2.11-2.43%2C3.31-4.18%2C2.73-.21%2C1.18-.38%2C2.34-.63%2C3.47-.06.26-.48.43-.57.7a13.71%2C13.71%2C0%2C0%2C0-.71%2C2.58c-.06.5.49%2C1.16.32%2C1.56-.79%2C1.89-1.79%2C3.68-2.59%2C5.56a6.9%2C6.9%2C0%2C0%2C0-.46%2C2.51c0%2C1.21.19%2C2.42.17%2C3.63a9.25%2C9.25%2C0%2C0%2C0%2C4.82%2C8.66c.79.46%2C2%2C.26%2C3%2C.28a21.61%2C21.61%2C0%2C0%2C0%2C2.29-.19v11.7l-.54.07a15.24%2C15.24%2C0%2C0%2C0-.22-1.92c-.21-.89-.53-1.75-.8-2.63a13.4%2C13.4%2C0%2C0%2C0-.9%2C2.75c-.15%2C1.46.07%2C3-.07%2C4.44a11.78%2C11.78%2C0%2C0%2C1-.85%2C2.53l-.9-.1c0-1.93%2C0-3.86%2C0-5.79a20.77%2C20.77%2C0%2C0%2C0-.26-5.07c-.34-1.27-1.51-2.3-2.41-3.59-1.58%2C1.63-4%2C2.22-3.6%2C5l-1.28-1.81c-.28%2C1.46-.53%2C2.72-.77%2C4l-.65.08c-.42-1.68-1-3.34-1.22-5s-1.79-1.68-2.88-1.74a32%2C32%2C0%2C0%2C0-5.07.49v9.81l-2.3-.62c-.28%2C1.1-.56%2C2.23-.88%2C3.53-.44-.11-.85-.37-1.09-.26-3.59%2C1.71-3.67-1.87-5.17-3.35a1.63%2C1.63%2C0%2C0%2C0-1.42-.27c-.41.16-.66.75-1%2C1.15L317.9%2C554c-.7%2C3-1.71%2C5.91-2%2C8.88-.35%2C3.59-.09%2C7.24-.09%2C11.19l-3.6-.16v2.45H1607.91v-2.45ZM359%2C553.74c-.06.06-1.25-.66-1.37-1.15a14.36%2C14.36%2C0%2C0%2C1-.06-3.08h-.25c-.21%2C1.16-.41%2C2.33-.61%2C3.49l-.74-.06c0-3-.44-6.17.21-9.06.26-1.21%2C2.83-1.9%2C4.94-3.19v5a29%2C29%2C0%2C0%2C0%2C.06%2C5.11C361.54%2C552.78%2C359.86%2C552.9%2C359%2C553.74Zm196.36%2C3.13v-7.18l3.16-.19C558.38%2C553.51%2C557%2C556.81%2C555.36%2C556.87ZM1076%2C553.74c-.06.06-1.25-.66-1.37-1.15a14.36%2C14.36%2C0%2C0%2C1-.06-3.08h-.25c-.21%2C1.16-.41%2C2.33-.61%2C3.49l-.74-.06c0-3-.44-6.17.21-9.06.26-1.21%2C2.83-1.9%2C4.94-3.19v5a29%2C29%2C0%2C0%2C0%2C.06%2C5.11C1078.54%2C552.78%2C1076.86%2C552.9%2C1076%2C553.74Zm196.36%2C3.13v-7.18l3.16-.19C1275.38%2C553.51%2C1274%2C556.81%2C1272.36%2C556.87Z%22%20transform%3D%22translate%28-312.22%20-503.33%29%22%2F%3E%3C%2Fsvg%3E');
}